<nav class="navbar">
	<!-- NAVIGATION MENU -->
	<ul class="nav-links">
		<!-- USING CHECKBOX HACK -->
		<input type="checkbox" id="checkbox_toggle" />
		<label for="checkbox_toggle" class="hamburger">&#9776;</label>
		<!-- NAVIGATION MENUS -->
		<div class="menu">
			<li><a href="/">Home</a></li>
			<li class="services">
				<a href="/">Actions</a>
				<!-- DROPDOWN MENU -->
				<ul class="dropdown">
					<li><a href="/addupdate">Add/Update</a></li>
					<li><a href="/consume">Consume</a></li>
				</ul>
			</li>
		</div>
	</ul>
</nav>