<!DOCTYPE html>
<html>

<head>
	<%- include('./partials/head'); %>
		<title>No Inventory List</title>
</head>

<body class="invBody">
	<header>
		<%- include('./partials/nav'); %>
	</header>

	<main class="invPage">
		<p>No inventory list found</p>
	</main>
</body>

</html>