<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="js" type="js" href="/js/site.js" <meta charset="utf-8" <title>Consume</title>
</head>

<body>
	<form action="/Consume" method="post" id="itemNumber">
		<label for="itemNumber">Item Number:</label>
		<input type="text" id="itemNumber" name="itemNumber" autofocus="autofocus"><br><br>
		<input type="submit" value="Submit">
	</form>
</body>

	<script src="js/bootstrap.min.js"></script>
	<script src="/js/site.js"></script>
</html>