<!DOCTYPE html>
<html>

<head>
	<%- include('./partials/head'); %>
	<title>Consume</title>
</head>

<body>
	<%- include('./partials/nav'); %>
	<form action="/Consume" method="post" id="itemNumber">
		<label for="itemNumber">Item Number:</label>
		<input type="text" id="itemNumber" name="itemNumber" autofocus="autofocus"><br><br>
		<input type="submit" value="Submit">
	</form>
</body>

	<script src="js/bootstrap.min.js"></script>
	<script src="/js/site.js"></script>
</html>