<!DOCTYPE html>
<html>

<head>
	<%- include('./partials/head'); %>
</head>

<body class="invBody">
	<header>
		<%- include('./partials/nav'); %>
	</header>

	<main class="invPage">
		<form action="/Consume" method="post" id="itemNumber">
			<label for="itemNumber">Item Number:</label>
			<input type="text" id="itemNumber" name="itemNumber" autofocus="autofocus"><br><br>
			<input type="submit" value="Submit">
		</form>
	</main>
</body>

</html>