<!DOCTYPE html>
<html>

<head>
	<%- include('./partials/head'); %>
	<title>No Inventory List</title>
</head>

<body>
	<%- include('./partials/nav'); %>
	<p>No inventory list found</p>
</body>

<script src="js/bootstrap.min.js"></script>
<script src="/js/site.js"></script>

</html>