<!DOCTYPE html>
<html>

<head>
	<%- include('./partials/head'); %>
		<title>No Inventory List</title>
</head>

<body class="invBody">
	<%- include('./partials/nav'); %>
		<span class="invPage">
			<p>No inventory list found</p>
		</span>
</body>

<script src="js/bootstrap.min.js"></script>
<script src="/js/site.js"></script>

</html>