table,
th,
td {
  border: 1px solid rgba(129, 62, 6, 0.637);
  border-collapse: collapse;
}

th,
td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

tr:nth-child(odd) {
  background-color: rgb(1, 133, 143);
}

title {
  display: none;
}

form label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

form input,
form select {
  width: 400px;
}

/* unvisited link */
a:link {
  color: seashell;
}

/* visited link */
a:visited {
  color: seashell;
}

/* mouse over link */
a:hover {
  color: rgb(228, 150, 94);
}

/* selected link */
a:active {
  color: seashell;
}

.invBody {
  background-color: rgb(0, 171, 184);
  color: seashell;
  margin: 10px;
}

.invPage {
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  background-color: rgb(1, 133, 143);
  color: seashell;
}

.reactSelect {
  display: inline-block;
  padding-top: 3px;
}